In [1]:
import pandas as pd

In [53]:
immo24_all=pd.read_csv("immo24_warm.csv")

In [54]:
immo24_all.head()

,result-list-entry__brand-title-container href,result-list-entry__brand-title,result-list-entry__brand-logo-container href,font-s href,block,result-list-entry__brand-logo-container href 2,slick-slide href,image-index-label,gallery__count,total-media-count-label,...,font-highlight 2,onlySmall,onlyLarge,font-tabular 3,margin-top-none,margin-top-none 2,margin-top-none 3,block 2,result-list-entry__new-flag,onlySmall 2
0,https://www.immobilienscout24.de/expose/138511876,Exklusives Penthouse im Grunewald,https://www.immobilienscout24.de/expose/138511876,https://www.immobilienscout24.de/expose/138511876,Privatangebot,https://www.immobilienscout24.de/expose/138511876,https://www.immobilienscout24.de/expose/138511876,1.0,/,16.0,...,175 m²,3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Privatangebot,NaN,NaN
1,https://www.immobilienscout24.de/expose/139935844,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...",https://www.immobilienscout24.de/expose/139935844,https://www.immobilienscout24.de/expose/139935844,Privatangebot,https://www.immobilienscout24.de/expose/139935844,https://www.immobilienscout24.de/expose/139935844,1.0,/,16.0,...,147 m²,4 Zi.,4,Zi.,Balkon/Terrasse,Einbauküche,...,Privatangebot,NEU,NEU
2,https://www.immobilienscout24.de/expose/139965071,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...",https://www.immobilienscout24.de/expose/139965071,https://www.immobilienscout24.de/expose/139965071,Herr Sascha Biß,https://www.immobilienscout24.de/expose/139965071,https://www.immobilienscout24.de/expose/139965071,1.0,/,2.0,...,"72,86 m²",3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Herr Sascha Biß,NEU,NEU
3,https://www.immobilienscout24.de/expose/121744828,Schloßloft am Lietzensee mit Galerie und Seebl...,https://www.immobilienscout24.de/expose/121744828,https://www.immobilienscout24.de/expose/121744828,Frau Christine Adler,https://www.immobilienscout24.de/expose/121744828,https://www.immobilienscout24.de/expose/121744828,1.0,/,9.0,...,"107,89 m²",1 Zi.,1,Zi.,Balkon/Terrasse,Einbauküche,...,Frau Christine Adler,NaN,NaN
4,https://www.immobilienscout24.de/expose/140102355,Penthouse-Wohnung mit Blick über Berlin!,https://www.immobilienscout24.de/expose/140102355,https://www.immobilienscout24.de/expose/140102355,Frau Isabelle Mienes,https://www.immobilienscout24.de/expose/140102355,https://www.immobilienscout24.de/expose/140102355,1.0,/,10.0,...,"93,36 m²",3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Frau Isabelle Mienes,NEU,NEU

In [55]:
immo24=immo24_all.drop(["result-list-entry__brand-title-container href", "result-list-entry__brand-logo-container href","font-s href", "block", "result-list-entry__brand-logo-container href 2", "slick-slide href", "image-index-label", "gallery__count","total-media-count-label","result-list-entry__criteria href", "block 2", "result-list-entry__new-flag","onlySmall 2", "font-tabular 3" ],  axis=1)

In [56]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...
...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN

In [57]:
immo24["margin-top-none"].unique()

array(['Balkon/Terrasse', nan, 'Einbauküche', 'Keller', 'Garten',
       'Stufenlos', 'Aufzug', 'Gäste-WC', 'WG-geeignet'], dtype=object)

In [58]:
immo24["margin-top-none 2"].unique()

array(['Einbauküche', nan, 'Keller', 'Aufzug', 'Gäste-WC', 'Garten',
       'Stufenlos', 'WG-geeignet'], dtype=object)

In [59]:
immo24["margin-top-none 3"].unique()

array(['...', nan, 'Keller', 'Aufzug', 'Gäste-WC', 'Garten', 'Stufenlos',
       'Balkon/Terrasse', 'WG-geeignet'], dtype=object)

In [60]:
pd.unique(immo24[["margin-top-none", "margin-top-none 2", "margin-top-none 3"]].values.ravel('K'))

array(['Balkon/Terrasse', nan, 'Einbauküche', 'Keller', 'Garten',
       'Stufenlos', 'Aufzug', 'Gäste-WC', 'WG-geeignet', '...'],
      dtype=object)

In [61]:
immo24["Balkon/Terrasse"] = ""

In [62]:
immo24.head()

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,

In [63]:
immo24['Einbauküche'], immo24['Keller'], immo24['Garten'] = "", "", ""

In [64]:
immo24['Aufzug'], immo24['Gäste-WC'], immo24['WG-geeignet'] = "", "", ""

In [65]:
immo24.head()

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,,,,,,,
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,,,,,,,
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,,,,,,,
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,,,,,,,
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,,,,,,,

In [66]:
immo24.iloc[0,9]

''

In [67]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    elif immo24.iloc[i,7]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    elif immo24.iloc[i,8]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    else:
        immo24.iloc[i,9]=0

In [68]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,,,,,,
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,1,,,,,,
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,,,,,,
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,1,,,,,,
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller,1,,,,,,
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN,0,,,,,,
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN,0,,,,,,
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN,0,,,,,,
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN,0,,,,,,

In [69]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Einbauküche" or immo24.iloc[i,7]== "Einbauküche" or immo24.iloc[i,8]== "Einbauküche":
        immo24.iloc[i,10]=1
    else:
        immo24.iloc[i,10]=0

In [70]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,,,,,
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,1,1,,,,,
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,,,,,
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,1,1,,,,,
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller,1,0,,,,,
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN,0,0,,,,,
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN,0,0,,,,,
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN,0,0,,,,,
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN,0,0,,,,,

Keller 
Garten 
Aufzug 
Gäste-WC
WG-geeignet

In [75]:
list1=["Keller", "Garten", "Aufzug", "Gäste-WC", "WG-geeignet"]

for i in range (len("immo24")):
    for j in range (len(list)):
                    if immo24.iloc[i,6]== list1[j] or immo24.iloc[i,7]== list1[j] or immo24.iloc[i,8]== list1[j]:
                        immo24.iloc[i,j+11]=1
                    else:
                        immo24.iloc[i,j+11]=0

In [76]:
list[0]

'Keller'

In [77]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller,1,0,,,,,
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN,0,0,,,,,
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN,0,0,,,,,
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN,0,0,,,,,
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN,0,0,,,,,

In [78]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Keller" or immo24.iloc[i,7]== "Keller" or immo24.iloc[i,8]== "Keller":
        immo24.iloc[i,11]=1
    else:
        immo24.iloc[i,11]=0

In [79]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller,1,0,1,,,,
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN,0,0,0,,,,
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN,0,0,1,,,,
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN,0,0,0,,,,
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN,0,0,0,,,,

In [80]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Garten" or immo24.iloc[i,7]== "Garten" or immo24.iloc[i,8]== "Garten":
        immo24.iloc[i,12]=1
    else:
        immo24.iloc[i,12]=0

In [81]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Aufzug" or immo24.iloc[i,7]== "Aufzug" or immo24.iloc[i,8]== "Aufzug":
        immo24.iloc[i,13]=1
    else:
        immo24.iloc[i,13]=0

In [82]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Gäste-WC" or immo24.iloc[i,7]== "Gäste-WC" or immo24.iloc[i,8]== "Gäste-WC":
        immo24.iloc[i,14]=1
    else:
        immo24.iloc[i,14]=0

In [83]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "WG-geeignet" or immo24.iloc[i,7]== "WG-geeignet" or immo24.iloc[i,8]== "WG-geeignet":
        immo24.iloc[i,15]=1
    else:
        immo24.iloc[i,15]=0

In [84]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlySmall,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4 Zi.,4,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1 Zi.,1,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3 Zi.,3,Balkon/Terrasse,Einbauküche,...,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3 Zi.,3,Balkon/Terrasse,Garten,Keller,1,0,1,1,0,0,0
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2 Zi.,2,Garten,NaN,NaN,0,0,0,1,0,0,0
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5 Zi.","2,5",Garten,Keller,NaN,0,0,1,1,0,0,0
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4 Zi.,4,Gäste-WC,Aufzug,NaN,0,0,0,0,1,1,0
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4 Zi.,4,Aufzug,NaN,NaN,0,0,0,0,1,0,0

In [88]:
immo24.iloc[0,1].split(",")

['Grunewald', ' Berlin']

In [92]:
type(immo24.iloc[0,1])

str